@model CreatePropertyDTO

@{
    ViewData["Title"] = "CreateProperty";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Create Property
                    </h4>
                </div>
                <div class="card-body">
                    <form asp-action="CreateProperty" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="PropertyName"></label>
                            <input asp-for="PropertyName" class="form-control" placeholder="PropertyName" />
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm float-end" value="Submit" />
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <a asp-action="ListProperty" class="btn btn-dark btn-sm">Back to List</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>