@model List<PropertyVM>

@{
    ViewData["Title"] = "ListProperty";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h4>Property List</h4>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Property Name</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PropertyName</td>                                                                       
                                    <td>
                                        <a asp-action="UpdateProperty" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Update</a>
                                    </td>
                                    <td>
                                        <a asp-action="DeleteProperty" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a asp-action="CreateProperty" class="btn btn-primary">Create New One</a>
                </div>
            </div>
        </div>
    </div>
</div>
